<%= render 'layouts/sidemenu'%>
<div class="container">
    <div>
    <h2>新規投稿</h2>
    <%= form_with model:@event, local:true do |f| %>
        <div class="form-group">
            <strong><%= f.label :画像 %></strong>
            <%= f.attachment_field :image, class: "form-control-file event_image" %>
        </div>
        <div class="form-group">
            <strong><%= f.label :タイトル %></strong>
            <%= f.text_field :title, :size=>"60", class: "form-control title border-dark" %>
        </div>
        <div class="form-group">
            <strong><%= f.label :内容 %></strong>
            <%= f.text_area :body,:size=>"60x10", class: "form-control body border-dark" %>
        </div>
        <div class="form-group">
            <strong><%= f.label :場所（県を入力してください） %></strong>
            <%= f.text_field :place, class: "form-control place border-dark" %>
        </div>
        <div class="form-group">
            <strong><%= f.label :日付 %></strong>
            <%= f.text_field :date, class: "form-control date border-dark" %>
        </div>
         <%= f.submit '投稿',class: "btn btn-success col-md-2" %>
         
    <% end %>
    </div>
</div>