<%= render 'layouts/sidemenu'%>
<div class="event-show">
  <p class="text-success"><%= flash[:notice]  %></p>
    <div class="event-show-main mt-4">
        <div class="image mr-4" id="event_<%= @event.id %>" >
          <div class="bookmark-btn"><%= render 'public/bookmarks/button',event: @event %></div>
            <div>
              <div class="rows">
                <a class="lightbox" href="#photo01">
                  <figure class="photo01">
                    <%= attachment_image_tag @event,:image ,:fill, 300, 300,format: 'jpeg',fallback: "no_image.jpeg" %>
                    <p>拡大</p>
                  </figure>
                </a>
                <div class="lightbox-target" id="photo01">
                  <div class="container">
                    <%= attachment_image_tag @event,:image ,:fill, 300, 300,format: 'jpeg',fallback: "no_image.jpeg" %>
                    <a class="lightbox-close" href="#">X</a>
                  </div>
                </div>
              </div>
              <div class="tag-box">
                <% @event.tags.each do |tag| %>
                  <span class="label"><%= tag.name %></span>
                <% end %>
              </div>
            </div>
        </div>
        <div class="event-show-right">
              <%= attachment_image_tag @event.user,:image ,:fill, 50, 50,format: 'jpeg',fallback: "no_image.jpeg" %>
              <%= link_to users_path(@event.user) do %>
              <h4 class="d-inline"><%= @event.user.name  %></h4>
              <% end %>
              <%= render 'public/relationships/button', event: @event %>
              <% if @event.user == current_user %>
              <%= link_to "編集", edit_event_path(@event) ,class: "d-inline-block text-success ml-3" %>
              <% end %>
          <h1><strong>イベント名：<%= @event.title %></strong></h1></br>
          <h4>日付：<%= @event.date %></h4></br>
          <h4>都道府県：<%= @event.place %></h4></br>
          <h4><%= @event.body %></h4>
        </div>
    </div>
        <div class='comment' id="event_<%= @event.id %>">
          <div class="eventcomment"><%= render 'public/event_comments/comment',event: @event %></div>
        </div>
          <div>
          <%= form_with(model:[@event,@event_comment], remote: true) do |f| %>
          <%= f.text_area :comment, rows: '5',placeholder: "コメントをここに",class: "col-md-8 "%></br>
          <%= f.submit "送信する" ,class: "btn btn-success"%>
          <% end %>
          </div>
</div>