
<%= attachment_image_tag @event,:image ,:fill, 100, 100,format: 'jpeg',fallback: "no_image.jpeg" %>
  <%= @event.title %>
  <%= @event.date %>
  <%= @event.place %>
  <%= @event.user.name %>
<%= render 'public/rerationships/button', event: @event %>
<tbody>
  <tr>
    <td><%= @event.user.name %></td>
    <td><%= @event.title %></td>
    <td><%= @event.body %></td>
    <td><%= link_to "編集", edit_event_path(@event) %></td>
    <% if @event.bookmarked_by?(current_user) %>
      <td><%= link_to "ブックマークを外す", event_bookmarks_path(@event), method: :delete %></td>
    <% else %>
      <td><%= link_to "ブックマーク", event_bookmarks_path(@event), method: :post %></td>
    <% end %>
  </tr>
</tbody>

<div>
<% @event.event_comments.each do |event_comment| %>
  <%= event_comment.user.name %>
  <%= event_comment.created_at.strftime('%Y/%m/%d') %><%= event_comment.comment %>
  <% if event_comment.user == current_user %>
  <div>
    <%= link_to "削除",event_event_comment_path(event_comment.event, event_comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>

<div>
<%= form_with(model:[@event,@event_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>

