<%= form_with model: group, local: true do |f| %>
  <div class="form-group">
    <strong><%= f.label :グループ名 %></strong>
    <%= f.text_field :name, class: 'form-control border-dark' %>
  </div>

  <div class="form-group">
    <strong><%= f.label :紹介文 %></strong>
    <%= f.text_area :introduction, class: 'form-control border-dark' %>
  </div>

  <div class="form-group">
    <strong><%= f.label :グループ画像 %></strong>
    <%= f.attachment_field :image, class: "form-control-file" %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-info w-' %>
  </div>
<% end %>