
<%= render 'layouts/sidemenu'%>
<div class='container px-5 '>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
      <h2><strong>グループ一覧</strong></h2>
      <%= link_to 'グループを作る', new_group_path ,class: "btn btn-success text-white mb-2" %>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td><%= attachment_image_tag(group, :image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
              <td><h5><%= link_to group.name, group_path(group) ,class: '' %></h5></td>
              <td><h5><%= link_to group.introduction,group_path(group) ,class: '' %></h5></td>
              <td>
                <% if group.owner_id == current_user.id %>
                  <%= link_to 'Edit', edit_group_path(group), class: "btn btn-sm btn-success text-white" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
        <div><%= paginate @groups , theme: 'twitter-bootstrap-4'%></div>
    </div>
  </div>
</div>