<%= render 'layouts/sidemenu'%>
<div class="container">
  <div class='row'>
    <div class='col-md-8 '>
      <h2>グループ詳細</h2>
      <table class='table table-hover table-inverse'>
        <tr class="text-nowrap">
          <td><%= attachment_image_tag(@group, :image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
          <td><h5><%= @group.name %></h5></td>
          <td><h5><%= @group.introduction %></h5></td>
          <td>
            <% @group.users.each do |member| %>
              <h5><%= member.name %></h5><br>
            <% end %>
          </td>
          <td>
            <% if @group.owner_id == current_user.id %>
              <%= link_to "削除",destroy_group_path ,method: :delete , class: 'text-danger pl-5' %>
              <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-success text-white" %>
              <%= link_to 'メンバーにメール',group_new_mail_path(@group), class: "fas fa-paper-plane btn btn-info text-white ml-4" %>
            <% elsif @group.users.include?(current_user) %>
              <%= link_to 'グループを抜ける', group_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
            <% else %>
              <%= link_to 'グループに参加する', group_join_path(@group), class: "btn btn-sm btn-success" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>