<%= render 'layouts/sidemenu'%>
  <div class="top mt-3">
      <div class="top-main">
        
          <div id="slideshow_height">
            <div id="theTarget">
              <div class="image1"></div>
              <div class="image2"></div>
              <div class="image3"></div>
              <div class="image4"></div>
              <div class="image5"></div>
            </div>
          </div>
         <div class="introduction">
            <div>
              <h2 class="text-center text-secondary "><strong>introduction</strong></h2>
              <h2 class="text-center text-info">ダンスのイベントを掲載できるサイトです！</h2>
              <h2 class="text-center">自由にイベントの投稿や閲覧をしてください</h2>
              <h2 class="text-center text-info">グループを作成し、練習会の募集も可能です！</h2>
            </div>
         </div>
        <p class="sample_h_4">イベント一覧</p>
        <div class="top-event">
          <% @events.each do |event| %>
          <div class="event-form mr-2">
            <div class="event">
              <div class="event-left">
              <%= link_to event_path(event) do %>
              <%= attachment_image_tag event,:image ,:fill, 600, 600,format: 'jpeg',fallback: "no_image.jpeg" %></br>
              </div>
              <div class="event-down ">
                <h5><strong><%= event.title %></br></strong></h5>
                <strong>日付：</strong><%= event.date %>
                <strong>県：</strong><%= event.place %></br>
              <% end %>
                投稿者：<%= link_to users_path(event.user) do %>
                <%= event.user.name %></br>
                <% end %>
                <%= link_to "詳細を見る",event_path(event) %>
                <% if event.user == current_user %>
                <%= link_to "削除",event_path(event),method: :delete , class: 'text-danger pl-5' %>
                <%= link_to "編集",edit_event_path(event) ,class: 'text-success pl-3' %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <div><%= paginate @events , theme: 'twitter-bootstrap-4'%></div>
      </div>
  </div>