<% visitor = notification.visitor %>
<% visited = notification.visited %>
  <div class='col-md-6.mx-auto'>
    <div class='form-inline'>
        <%= visitor.name %>
        <%= 'さんが' %>
        <% case notification.action %>
        <% when 'follow' then %>
          <%= "あなたをフォローしました" %>
        <% when 'bookmark' then %>
          <% link_to 'あなたの投稿', root_path, style: "font-weight: bold;" %>
          <%= "ブックマークしました" %>
        <% when 'event_comment' then %>
          <% if notification.event.user_id == visited.id %>
          <%= link_to "あなたの投稿", root_path, style: "font-weight: bold;" %>
        <% else %>
          <%= image_tag avatar_url(notification.event.user).to_s, class: "icon_mini" %>
          <%= notification.event.user.name + 'さんの投稿' %>
          <%= "にコメントしました" %>
          <p class="text-muted mb-0"></p>
          <%= EventComment.find_by(id: notification.event_comment_id)&.comment %>
          <% end %>
        <% end %>
        
        <div class="small.text-muted.text-right">
          <%= time_ago_in_words(notification.created_at).upcase %>
        </div>
    </div>
  </div>
