<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.label :検索 ,class: "mt-3 text ribbon11"%></br>
    <%= f.text_field :content ,class: "pr-5 mb-3 mt-3"%></br>
    <%= f.select :model, options_for_select({ "都道府県" => "event" , "ユーザー" => "user", "グループ名" => "group"}) %>
    <%= f.submit '検索' %>
  <% end %>
</div>